$defaultPxToRemSize: .65rem; //10px
.u-w-xs-100 {
    @media (max-width: 76.8*$defaultPxToRemSize) {
        width: 100% !important;
    }
}
.u-w-md-100 {
    @media (max-width: 144*$defaultPxToRemSize) {
        width: 100% !important;
    }
}
.u-w-sm-100 {
    @media (max-width: 102.4*$defaultPxToRemSize) {
        width: 100% !important;
    }
}
.u-w-lg-100 {
    @media (min-width: 168*$defaultPxToRemSize) {
        width: 100% !important;
    }
}
@each $value in top, left, bottom, right {
    @for $i from 1 to 9 {
        .u-m-#{$i} {
            margin: $defaultPxToRemSize * $i !important;
        }
        .u-m-#{$value}-#{$i} {
            margin-#{$value}: $defaultPxToRemSize * $i !important;
        }
        .u-p-#{$i} {
            padding: $defaultPxToRemSize * $i !important;
        }
        .u-p-#{$value}-#{$i} {
            padding-#{$value}: $defaultPxToRemSize * $i !important;
        }

    }
}
