.hyphenate {
    overflow-wrap: break-word;
    hyphens: auto;
}
.text-green {
    color: var(--green);
}
.text-blue {
    color: var(--blue);
}
.text-accent {
    color: var(--accent);
    &:hover {
        color: var(--accent);
    }
}
.text-white {
    color: darken(#fff, 10%) !important;
    &:hover {
        color: darken(#fff, 10%) !important;
    }
}
