<h2 id="cta">Want to work with me?</h2>
<div class="text-white">

<h3 class="mt-5">Who I am</h3>
<p itemscope itemtype="http://schema.org/Person">Hi, I'm <span itemprop="givenName">Guillaume</span><span class="u-hidden" aria-hidden="true" itemprop="familyName">FERBER</span>. I am a <span itemprop="jobTitle">freelance web developer</span> based in <span itemprop="workLocation">Montreal, QC</span>. Since 2018 I've worked with a wide range of companies, from local shops to national brands, and boutique design firms to global ad agencies. My focus is on <i>beautiful, clean digital experiences</i>.</p>

<h3 class="mt-5">What I do</h3>
<p>My background and training is in graphic design, so my first objective is to create a beautiful and user-friendly website. When it's time to build, I integrate the unique design into WordPress, Shopify, or custom build depending on your needs.</p>

<p>In general, I prefer to work on full, custom website designs and/or rebuilds. It's with these kind of projects I can really provide the most value and quality, so I don't tend to take on small incremental work or just fixing existing sites.</p>

<p>Over the years, my network of partners has grown to include some incredible back-end developers, copywriters, photographers, and branding specialists so I can scale up or down any project based on needs.</p>

<h3 class="mt-5">My Process</h3>
<p>For a standard site, my process is three-fold.
	<ol>
		<li><b>The Discovery phase</b>. This is where we discuss the scope of the site, as well as your branding and what aesthetic you want to portray.</li>
		<li><b>The Design phase</b>. Here I'll take all the information we've gathered and create some mockups for you. You'll send me feedback, and I'll send you revisions, and we'll keep doing that until the design is complete.</li>
		<li><b>The Coding phase</b>. Here I'll code the site fully and then send you a live beta version. You can test it and make any final changes and then I'll push the site live.</li>
	</ol>
</p>

<h3 class="mt-5">What I charge</h3>
<p>I almost always work on a flat fee basis for each project, so I'll quote you a single project price, half will be due up front and the other half upon completion.</p>

<p>Every project is different so I don't have a set range or price list, but if you <a href="#contact">contact me</a> with a description of your site I'll get back to you with a personalized quote.</p>
