<div class="c-carousel">
    <div class="c-card c-card--square c-card--reverse" >
        <a class="c-card__content d-block" href="#0">
            <div class="c-card__reveal">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, est itaque. Aspernatur nulla officia nihil necessitatibus saepe reprehenderit magnam rem dolorum sequi! Repudiandae voluptatem vel maiores itaque est, beatae inventore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo commodi illum possimus eos iste quaerat quibusdam accusantium aperiam maxime, voluptas praesentium consequatur esse sed omnis quis. Saepe quam voluptates tempore!</p>
                <span class="c-icon c-icon--minus c-icon--white"></span>
            </div>
            <div class="c-card__front">
                <div class="c-card__title">Lorem ipsum dolor</div>

                <div class="c-card__footer">
                    <h3>Lorem ipsum dolor sit amet sit amet</h3>
                </div>
                <div class="c-icon-container">
                    <span class="c-icon c-icon--plus"></span>
                </div>
            </div>
        </a>
    </div>

    <div class="c-card c-card--square c-card--reverse" >
        <a class="c-card__content d-block" href="#0">
            <div class="c-card__front">
                <div class="c-card__title">Lorem ipsum dolor</div>
                <div class="c-card__footer">
                    <h3>Lorem ipsum dolor sit amet sit amet</h3>
                </div>
                <div class="c-icon-container">
                    <span class="c-icon c-icon--plus"></span>
                </div>
            </div>
        </a>
    </div>

    <div class="c-card c-card--square c-card--reverse" >
        <a class="c-card__content d-block" href="#0">
            <div class="c-card__front">
                <div class="c-card__title">Lorem ipsum dolor</div>
                <div class="c-card__footer">
                    <h3>Lorem ipsum dolor sit amet sit amet</h3>
                </div>
                <div class="c-icon-container">
                    <span class="c-icon c-icon--plus"></span>
                </div>
            </div>
        </a>
    </div>

    <div class="c-card c-card--square c-card--reverse" >
        <a class="c-card__content d-block" href="#0">
            <div class="c-card__front">
                <div class="c-card__title">Lorem ipsum dolor</div>
                <div class="c-card__footer">
                    <h3>Lorem ipsum dolor sit amet sit amet</h3>
                </div>
                <div class="c-icon-container">
                    <span class="c-icon c-icon--plus"></span>
                </div>
            </div>
        </a>
    </div>
    <div class="c-card c-card--square c-card--reverse" >
        <a class="c-card__content d-block" href="#0">
            <div class="c-card__front">
                <div class="c-card__title">Lorem ipsum dolor</div>
                <div class="c-card__footer">
                    <h3>Lorem ipsum dolor sit amet sit amet</h3>
                </div>
                <div class="c-icon-container">
                    <span class="c-icon c-icon--plus"></span>
                </div>
            </div>
        </a>
    </div>
    <div class="c-card c-card--square c-card--reverse" >
        <a class="c-card__content d-block" href="#0">
            <div class="c-card__front">
                <div class="c-card__title">Lorem ipsum dolor</div>
                <div class="c-card__footer">
                    <h3>Lorem ipsum dolor sit amet sit amet</h3>
                </div>
                <div class="c-icon-container">
                    <span class="c-icon c-icon--plus"></span>
                </div>
            </div>
        </a>
    </div>
    <div class="c-card c-card--square c-card--reverse" >
        <a class="c-card__content d-block" href="#0">
            <div class="c-card__front">
                <div class="c-card__title">Lorem ipsum dolor</div>
                <div class="c-card__footer">
                    <h3>Lorem ipsum dolor sit amet sit amet</h3>
                </div>
                <div class="c-icon-container">
                    <span class="c-icon c-icon--plus"></span>
                </div>
            </div>
        </a>
    </div>
    <div class="c-card c-card--square c-card--reverse" >
        <a class="c-card__content d-block" href="#0">
            <div class="c-card__front">
                <div class="c-card__title">Lorem ipsum dolor</div>
                <div class="c-card__footer">
                    <h3>Lorem ipsum dolor sit amet sit amet</h3>
                </div>
                <div class="c-icon-container">
                    <span class="c-icon c-icon--plus"></span>
                </div>
            </div>
        </a>
    </div>
    <div class="c-card c-card--square c-card--reverse" >
        <a class="c-card__content d-block" href="#0">
            <div class="c-card__front">
                <div class="c-card__title">Lorem ipsum dolor</div>
                <div class="c-card__footer">
                    <h3>Lorem ipsum dolor sit amet sit amet</h3>
                </div>
                <div class="c-icon-container">
                    <span class="c-icon c-icon--plus"></span>
                </div>
            </div>
        </a>
    </div>
    <div class="c-card c-card--square c-card--reverse" >
        <a class="c-card__content d-block" href="#0">
            <div class="c-card__front">
                <div class="c-card__title">Lorem ipsum dolor</div>
                <div class="c-card__footer">
                    <h3>Lorem ipsum dolor sit amet sit amet</h3>
                </div>
                <div class="c-icon-container">
                    <span class="c-icon c-icon--plus"></span>
                </div>
            </div>
        </a>
    </div>

</div>
