<h2 id="contact" class="mb-5">Faisons connaissance!</h2>
<div class="text-white">
	<p class="mb-4" itemscope itemtype="http://schema.org/Person">Si vous avez une idée de projet, la meilleures chose est de</p>
	<div class="c-button c-button--small  d-block text-uppercase">
		<a class="c-button__body h6" href="mailto:info@guillaumeferber.com">envoyer un courriel</a>
	</div>
	<p class="mt-4">et de m'en dire un peu plus sur votre projet. On pourra alors démarrer à partir de là.</p>
	<h3 class="mt-5">Merci</h3>
</div>
