<div class="c-carousel">
    <div class="c-card c-card--square c-card--gallery">
        <a class="c-card__content d-block" href="#0">
            <div class="c-card--image" style="background-image: url(assets/images/pages/about/team-member-01.jpg)"></div>
            <div class="c-card__footer">
                <h3>Lorem ipsum dolor </h3>
                <h6>Lorem ipsum dolor sit ad</h6>
            </div>
        </a>
    </div>
    <div class="c-card c-card--square c-card--gallery">
        <a class="c-card__content d-block" href="#0">
            <div class="c-card--image" style="background-image: url(assets/images/pages/about/team-member-02.jpg)"></div>
            <div class="c-card__footer">
                <h3>Lorem ipsum dolor </h3>
                <h6>Lorem ipsum dolor sit ad</h6>
            </div>
        </a>
    </div>
    <div class="c-card c-card--square c-card--gallery">
        <a class="c-card__content d-block" href="#0">
            <div class="c-card--image" style="background-image: url(assets/images/pages/about/team-member-03.jpg)"></div>
            <div class="c-card__footer">
                <h3>Lorem ipsum dolor </h3>
                <h6>Lorem ipsum dolor sit ad</h6>
            </div>
        </a>
    </div>
    <div class="c-card c-card--square c-card--gallery">
        <a class="c-card__content d-block" href="#0">
            <div class="c-card--image" style="background-image: url(assets/images/pages/about/team-member-04.jpg)"></div>
            <div class="c-card__footer">
                <h3>Lorem ipsum dolor </h3>
                <h6>Lorem ipsum dolor sit ad</h6>
            </div>
        </a>
    </div>
</div>
