<div class="c-hero c-hero--light">
	<div class="c-hero__parallax" ></div>
	<div class="c-hero__title-group">
		<hgroup>
			<h1>HI! I'm <span class="text-accent">Guillaume</span></h1>
			<h2 class="hyphenate paragraph">I'm a web developer in Montreal</h2>
			<h3>I'm current <span class="u-flicker">not</span> <span class="">available</span></h3>
		</hgroup>
		<div class="w-75 mt-5">
			<div class="c-button text-uppercase">
				<a class="c-button__body h2" href="#contact">Start a projet</a>
			</div>
		</div>
	</div>
	<div class="c-hero__alert">
		<ul class="list-unstyled m-0">
			<li><span class="c-icon c-icon--phone"></span><a href="tel:+15142321185">(514) 232-1185</a></li>
			<li><span class="c-icon c-icon--email"></span><a href="mailto:info@guillaumeferber.com" alt="email address">info@guillaumeferber.com</a></li>
			<li><span class="c-icon c-icon--github"></span><a href="https://github.com/guillaumeferber">@guillaumeferber</a></li>
		</ul>
	</div>
	<div class="c-hero__icon">
		<span aria-hidden="false" class="u-hidden">Check out</span> <a href="#about"><span aria-hidden="false" class="u-hidden">how I can help you in your web project.</span><span class="c-icon c-icon--next" aria-hidden="true"></span></a>
	</div>
</div>
