<section id="installBanner" class="banner">
    <button id="installBtn">
		<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAABSElEQVRYhe2WO07DQBRFDwjxkSgBUVFQwyYIsIm0aZEsKGAHURbBZxcpoEOUgRVQoCg7IHR8Cq7haZixM2OsNHOlp/E83/futWf8gYyMZvhUJGPxn4xkA60ZWADG/K513Zq7vLF6JGPf09QaCM1t7FUJ1N2BY42XfF9JGSFYzpXTI8nAocY7k1uv4NtztxqPajSCWAWmwDuwqdwO8AxcaG6XoABegF3NN1T7BqylGOio+cjkeka0CBz3DH+kXCfFwEDFfSdvxdwoHG5f+UGKgScVH3jOFcCHI37u4ZV38TFWfEsCU2AlwLEmfOIAy8CreNsxBrpqPKzhnSiqMFSvboyBGxWdxhQFcKZe1zFFE8IbLTUmPqHQW63RN74Cf/SWYgsSEbygtj7HD8D9LMS2DJSPZzIa/+vN2q9uD7S1GX8w91+yjIy54wv3PXUhlzon5AAAAABJRU5ErkJggg=="/>
	</button>
</section>
