<div class="text-white">
	<h4 class="paragraph">Salut. Je m'appelle Guillaume et je suis un développeur web situé à Montréal. Je construis des sites web responsives en portant mon attention sur un bon design, une expérience utilisateur de qualité et un SEO performant.</h4>
	<div class="row text-center">
		<div class="col-md-4 col-sm-12">
			<p><span class="c-icon c-icon--design"></span></p>
			<h6 class="my-5"><b>DESIGN GRAPHIQUE WEB</b></h6>
			<p>Des maquettes web uniques et personnalisées créées spécifiquement pour vous et votre marque. Toujours magnifiques et toujours orienté intuitifs.</p>
		</div>
		<div class="col-md-4 col-sm-12">
			<p><span class="c-icon--code">< / ></span></p>
			<h6 class="my-5"><b>DÉVELOPPEMENT WEB</b></h6>
			<p>Chaque site web est monté à partir d'une fondation de code solide, respectant les standards du web et les bonnes pratiques SEO.</p>
		</div>
		<div class="col-md-4 col-sm-12">
			<p><span class="c-icon c-icon--cms"></span></p>
			<h6 class="my-5"><b>CMS</b></h6>
			<p>L'intégration de vos maquettes personnalisées dans un gestionnaire de contenu vous offre la liberté de mettre à jour et gérer facilement le site web vous-même.</p>
		</div>
	</div>
	<h4 class="text-center mt-5"><a class="text-white text-underline" href="work-fr.html">Et si on travaillait ensemble ?</a></h4>
</div>
