<div class="text-white">
	<h4 class="paragraph">Hi. I'm Guillaume and I'm a Montreal-based web developer. I build responsive websites with a focus on good design, user-experience and SEO.</h4>
	<div class="row text-center">
		<div class="col-lg-4 col-md-12">
			<p><span class="c-icon c-icon--design"></span></p>
			<h6 class="my-5">WEB DESIGN</h6>
			<p>Unique web designs custom created specifically for you and your brand. Always beautiful and always user-friendly.</p>
		</div>
		<div class="col-lg-4 col-md-12">
			<p><span class="c-icon--code">< / ></span></p>
			<h6 class="my-5">WEB DEVELOPMENT</h6>
			<p>Each website is built on a solid code foundation based on current web standards and best SEO practices.</p>
		</div>
		<div class="col-lg-4 col-md-12">
			<p><span class="c-icon c-icon--cms"></span></p>
			<h6 class="my-5">CMS</h6>
			<p>Integration of your custom design into a content management system gives you the freedom to easily update and manage the site on your own.</p>
		</div>
	</div>
	<h4 class="text-center mt-5"><a class="text-white" href="#cta">Want to know more ?</a></h4>
</div>
