<div class="text-white">
	<h4 class="paragraph">Hi. I'm Guillaume and I'm a Montreal-based web developer. I build responsive websites with a focus on good design, user-experience and SEO.</h4>
	<div class="row text-center">
		<div class="col-md-4 col-sm-12">
			<p><span class="c-icon c-icon--design"></span></p>
			<h6 class="my-5">WEB DESIGN</h6>
			<p>Unique web designs custom created specifically for you and your brand. Always beautiful and always user-friendly.</p>
		</div>
		<div class="col-md-4 col-sm-12">
			<p><span class="c-icon--code">< / ></span></p>
			<h6 class="my-5">WEB DEVELOPMENT</h6>
			<p>Each website is built on a solid code foundation based on current web standards and best SEO practices.</p>
		</div>
		<div class="col-md-4 col-sm-12">
			<p><span class="c-icon c-icon--cms"></span></p>
			<h6 class="my-5">CMS</h6>
			<p>Integration of your custom design into a content management system gives you the freedom to easily update and manage the site on your own.</p>
		</div>
	</div>
	<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
		<div class="w-100">
			<h2 class="mb-5">Skills</h2>

			<h4 class="mb-3">Programming Languages &amp; Tools</h4>
			<ul class="list-inline c-list c-list--dev-icons">
			<li class="list-inline-item" title="HTML5">
				<i class="fab fa-html5"></i>
			</li>
			<li class="list-inline-item" title="CSS3">
				<i class="fab fa-css3-alt"></i>
			</li>
			<li class="list-inline-item" title="JavaScript">
				<i class="fab fa-js-square"></i>
			</li>
			<li class="list-inline-item" title="Angular">
				<i class="fab fa-angular"></i>
			</li>
			<li class="list-inline-item" title="ReactJS">
				<i class="fab fa-react"></i>
			</li>
			<li class="list-inline-item" title="node.js">
				<i class="fab fa-node-js"></i>
			</li>
			<li class="list-inline-item" title="Sass">
				<i class="fab fa-sass"></i>
			</li>
			<li class="list-inline-item" title="LESS">
				<i class="fab fa-less"></i>
			</li>
			<li class="list-inline-item" title="Wordpress">
				<i class="fab fa-wordpress"></i>
			</li>
			<li class="list-inline-item" title="Gulp">
				<i class="fab fa-gulp"></i>
			</li>
			<li class="list-inline-item" title="Grunt">
				<i class="fab fa-grunt"></i>
			</li>
			<li class="list-inline-item" title="npm">
				<i class="fab fa-npm"></i>
			</li>
			</ul>

			<h4 class="mb-3">Workflow</h4>
			<ul class="mb-0 c-list c-list--check">
				<li>Mobile-First, Responsive Design</li>
				<li>Cross Browser Testing &amp; Debugging</li>
				<li>Cross Functional Teams</li>
				<li>Agile Development &amp; Scrum</li>
			</ul>
		</div>
		</section>
</div>
