
<nav class="c-navigation-container" aria-label="Main">
	<div class="c-picture-badge">
		<a href="index-fr.html">
			<img src="assets/images/main.webp" alt="Guillaume Ferber - Développeur Web ">
		</a>
	</div>

	<ul class="c-navigation c-navigation--column list-unstyled js-navigation-selector">
		<li><a href="#about">À propos</a></li>
		<li><a href="#cta">Travailler avec moi</a></li>
		<li><a href="#technologies">Savoir-faire</a></li>
		<li><a href="#contact">Contact</a></li>
		<li><a href="index-fr.html" class="active"><span>FR</span></a><span class="text-white mb-3 px-3">|</span><a href="/"><span>EN</span></a></li>
	</ul>

</nav>
