<div class="d-flex justify-content-between c-tabset">
    <div class="c-tabset__content">
        <div class="c-tab-content active" id="content_1">
            <h2 class="c-tab-content__title">Lorem Ipsum  imperdiet. Suspendisse in arc</h2>
            <h3 class="c-tab-content__subtitle">Consectetur adipiscing elit</h3>
            <div class="c-tab-content__body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla maximus efficitur. Morbi viverra elit et nulla eleifend auctor. Nam vel magna enim. Pellentesque vel porta dolor, sit amet tincidunt ipsum. Duis scelerisque libero sit amet dignissim imperdiet. Suspendisse in arcu mi. Nunc tellus felis, porttitor ac dapibus a, sollicitudin ac nunc.
                </p>
                <p>Nam in lobortis sem. Phasellus luctus eleifend nulla at accumsan. Ut ac pretium ligula. In venenatis sodales ornare. Pellentesque mi lectus, auctor ac erat et, dignissim tincidunt nunc. Pellentesque ac sollicitudin mi. Nulla arcu lorem, ullamcorper et velit gravida, congue mattis metus. In nunc lorem, tincidunt eu sollicitudin non, mattis vitae nisl.</p>
                <div class="c-tab-content__button">
                    <div class="c-button c-button--reverse text-uppercase">
                        <a class="c-button__body h2">Lorem ipsum</a>
                    </div>
                </div>
            </div>
            <div class="c-tab-content__footer"></div>
        </div>
        <div class="c-tab-content" id="content_2">
            <h2 class="c-tab-content__title">Lorem Ipsum  imperdiet. Suspendisse in arc</h2>
            <h3 class="c-tab-content__subtitle">sque libero sit amet dignissim imperdiet</h3>
            <div class="c-tab-content__body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla maximus efficitur. Morbi viverra elit et nulla eleifend auctor. Nam vel magna enim. Pellentesque vel porta dolor, sit amet tincidunt ipsum. Duis scelerisque libero sit amet dignissim imperdiet. Suspendisse in arcu mi. Nunc tellus felis, porttitor ac dapibus a, sollicitudin ac nunc.
                </p>
                <p>Nam in lobortis sem. Phasellus luctus eleifend nulla at accumsan. Ut ac pretium ligula. In venenatis sodales ornare. Pellentesque mi lectus, auctor ac erat et, dignissim tincidunt nunc. Pellentesque ac sollicitudin mi. Nulla arcu lorem, ullamcorper et velit gravida, congue mattis metus. In nunc lorem, tincidunt eu sollicitudin non, mattis vitae nisl.</p>
                <div class="c-tab-content__button w-100">
                    <p>
                        <a href="#0" class="c-link c-link--underlined c-link--plus">Un employeur peut-il forcer un ex-employé à modifier son profil LinkedIn?</a>
                    </p>
                    <p>
                        <a href="#0" class="c-link c-link--underlined c-link--plus">10 conseils pour un profil LinkedIn gagnant</a>
                    </p>
                    <p>
                        <a href="#0" class="c-link c-link--underlined c-link--plus">9 astuces efficaces pour améliorer votre profil LinkedIn en quelques minutes</a>
                    </p>
                </div>
            </div>
            <div class="c-tab-content__footer"></div>
        </div>
        <div class="c-tab-content" id="content_3">
            <h2 class="c-tab-content__title">Lorem Ipsum  imperdiet. Suspendisse in arc</h2>
            <h3 class="c-tab-content__subtitle">tincidunt ipsum. Duis scelerisque libero sit amet dignissim imperdiet. S</h3>
            <div class="c-tab-content__body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla maximus efficitur. Morbi viverra elit et nulla eleifend auctor. Nam vel magna enim. Pellentesque vel porta dolor, sit amet tincidunt ipsum. Duis scelerisque libero sit amet dignissim imperdiet. Suspendisse in arcu mi. Nunc tellus felis, porttitor ac dapibus a, sollicitudin ac nunc.
                </p>
                    <p>Nam in lobortis sem. Phasellus luctus eleifend nulla at accumsan. Ut ac pretium ligula. In venenatis sodales ornare. Pellentesque mi lectus, auctor ac erat et, dignissim tincidunt nunc. Pellentesque ac sollicitudin mi. Nulla arcu lorem, ullamcorper et velit gravida, congue mattis metus. In nunc lorem, tincidunt eu sollicitudin non, mattis vitae nisl.</p>
            </div>
            <div class="c-tab-content__footer"></div>
        </div>
        <div class="c-tab-content" id="content_4">
            <h2 class="c-tab-content__title">Lorem Ipsum  imperdiet. Suspendisse in arc</h2>
            <h3 class="c-tab-content__subtitle">tis metus. In nunc lorem, tincidunt eu sollicitudin non</h3>
            <div class="c-tab-content__body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla maximus efficitur. Morbi viverra elit et nulla eleifend auctor. Nam vel magna enim. Pellentesque vel porta dolor, sit amet tincidunt ipsum. Duis scelerisque libero sit amet dignissim imperdiet. Suspendisse in arcu mi. Nunc tellus felis, porttitor ac dapibus a, sollicitudin ac nunc.
                </p>
                <p>Nam in lobortis sem. Phasellus luctus eleifend nulla at accumsan. Ut ac pretium ligula. In venenatis sodales ornare. Pellentesque mi lectus, auctor ac erat et, dignissim tincidunt nunc. Pellentesque ac sollicitudin mi. Nulla arcu lorem, ullamcorper et velit gravida, congue mattis metus. In nunc lorem, tincidunt eu sollicitudin non, mattis vitae nisl.</p>
            </div>
            <div class="c-tab-content__footer"></div>
        </div>
        <div class="c-tab-content" id="content_5">
            <h2 class="c-tab-content__title">Lorem Ipsum  imperdiet. Suspendisse in arc</h2>
            <h3 class="c-tab-content__subtitle"></h3>
            <div class="c-tab-content__body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla maximus efficitur. Morbi viverra elit et nulla eleifend auctor. Nam vel magna enim. Pellentesque vel porta dolor, sit amet tincidunt ipsum. Duis scelerisque libero sit amet dignissim imperdiet. Suspendisse in arcu mi. Nunc tellus felis, porttitor ac dapibus a, sollicitudin ac nunc.
                </p>
                    <p>Nam in lobortis sem. Phasellus luctus eleifend nulla at accumsan. Ut ac pretium ligula. In venenatis sodales ornare. Pellentesque mi lectus, auctor ac erat et, dignissim tincidunt nunc. Pellentesque ac sollicitudin mi. Nulla arcu lorem, ullamcorper et velit gravida, congue mattis metus. In nunc lorem, tincidunt eu sollicitudin non, mattis vitae nisl.</p>
            </div>
            <div class="c-tab-content__footer"></div>
        </div>
        <div class="c-tab-content" id="content_6">
            <h2 class="c-tab-content__title">Lorem Ipsum  imperdiet. Suspendisse in arc</h2>
            <h3 class="c-tab-content__subtitle"></h3>
            <div class="c-tab-content__body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla maximus efficitur. Morbi viverra elit et nulla eleifend auctor. Nam vel magna enim. Pellentesque vel porta dolor, sit amet tincidunt ipsum. Duis scelerisque libero sit amet dignissim imperdiet. Suspendisse in arcu mi. Nunc tellus felis, porttitor ac dapibus a, sollicitudin ac nunc.
                </p>
                    <p>Nam in lobortis sem. Phasellus luctus eleifend nulla at accumsan. Ut ac pretium ligula. In venenatis sodales ornare. Pellentesque mi lectus, auctor ac erat et, dignissim tincidunt nunc. Pellentesque ac sollicitudin mi. Nulla arcu lorem, ullamcorper et velit gravida, congue mattis metus. In nunc lorem, tincidunt eu sollicitudin non, mattis vitae nisl.</p>
            </div>
            <div class="c-tab-content__footer"></div>
        </div>
    </div>
    <div class="c-tabset__list">
        <ul class="list-unstyled m-0">
            <li><a href="#content_1" class="active">Lorem Ipsum</a></li>
            <li><a href="#content_2">Lorem Ipsum</a></li>
            <li><a href="#content_3">Lorem Ipsum</a></li>
            <li><a href="#content_4">Lorem Ipsum</a></li>
            <li><a href="#content_5">Lorem Ipsum</a></li>
            <li><a href="#content_6">Lorem Ipsum</a></li>
        </ul>
    </div>
</div>
