<nav class="c-navigation-container c-navigation-container--column" aria-label="Main">
	<div class="c-picture-badge">
		<a href="index-fr.html">
			<img src="assets/images/logos/logo.png" alt="Guillaume Ferber - Développeur Web ">
		</a>
	</div>
	<!-- <input class="menu-btn" type="checkbox" id="menu-btn" name="menu-btn" />
	<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label> -->
	<ul class="c-navigation c-navigation--column list-unstyled">
		<li><a href="#about"><span>À propos</span></a></li>
		<li><a href="#cta"><span>Travailler avec moi</span></a></li>
		<li><a href="#technologies"><span>Savoir-faire</span></a></li>
		<li><a href="#contact"><span>Contact</span></a></li>
		<li><a href="index-fr.html" class="active"><span>FR</span></a><span class="text-white mb-3 px-3">|</span><a href="/"><span>EN</span></a></li>
	</ul>

</nav>
