
<nav class="c-navigation-container" aria-label="Main">
	<div class="c-picture-badge">
		<a href="index-fr.html">
			<picture>
				<source srcset='assets/images/main.webp' type='image/webp'>
				<source srcset='assets/images/main.jp2' type='image/jp2'>
				<img srcset='assets/images/main.jpg' alt='Guillaume Ferber - Développeur Web'>
			</picture>
		</a>
	</div>

	<ul class="c-navigation c-navigation--column list-unstyled js-navigation-selector">
		<li><a href="index-fr.html#about">À propos</a></li>
		<li><a href="work-fr.html">Travailler avec moi</a></li>
		<li><a href="index-fr.html#technologies">Savoir-faire</a></li>
		<li><a href="https://medium.com/@ferber.g" class="external">Blogue</a></li>
		<li><a href="index-fr.html#contact">Contact</a></li>
		<li class="d-flex jusrtify-content-between align-items-center">
			<div><a href="index-fr.html" class="active"><span>FR</span></a><span class="text-white mb-3 px-3">|</span><a href="/"><span>EN</span></a></div>
			<!-- @@include ./_install-button.html -->
		</li>
	</ul>
</nav>
