<nav class="c-navigation-container" aria-label="Main">
	<div class="c-picture-badge">
		<a href="index.html">
			<picture>
				<source srcset='assets/images/main.webp' type='image/webp'>
				<source srcset='assets/images/main.jp2' type='image/jp2'>
				<img srcset='assets/images/main.jpg' alt='Guillaume Ferber - Développeur Web'>
			</picture>
		</a>
	</div>
	<ul class="c-navigation c-navigation--column list-unstyled js-navigation-selector">
		<li><a href="#about">About</a></li>
		<li><a href="#cta">Work with me</a></li>
		<li><a href="#technologies">Savoir-faire</a></li>
		<li><a href="#contact">Contact</a></li>
		<li><a href="index-fr.html"><span>FR</span></a><span class="text-white mb-3 px-3">|</span><a href="/" class="active"><span>EN</span></a></li>
		<li><!-- @@include ./_install.html --></li>
	</ul>

</nav>
