<nav class="c-navigation-container" aria-label="Main">
	<div class="c-picture-badge">
		<a href="index.html">
			<img src="assets/images/logos/logo.png" alt="Guillaume Ferber - Web Developer">
		</a>
	</div>
	<ul class="c-navigation c-navigation--column list-unstyled js-navigation-selector">
		<li><a href="#about">About</a></li>
		<li><a href="#cta">Work with me</a></li>
		<li><a href="#technologies">Savoir-faire</a></li>
		<li><a href="#contact">Contact</a></li>
		<li><a href="index-fr.html"><span>FR</span></a><span class="text-white mb-3 px-3">|</span><a href="/" class="active"><span>EN</span></a></li>
	</ul>

</nav>
