<nav class="c-navigation-container c-navigation-container--column" aria-label="Main">
	<div class="c-picture-badge">
		<a href="index.html">
			<img src="assets/images/logos/logo.png" alt="Guillaume Ferber - Web Developer">
		</a>
	</div>
	<input class="menu-btn" type="checkbox" id="menu-btn" />
	<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
	<ul class="c-navigation c-navigation--column list-unstyled">
		<li><a href="#about"><span>About</span></a></li>
		<li><a href="#portfolio"><span>Portfolio</span></a></li>
		<li><a href="#contact"><span>Contact</span></a></li>
	</ul>

</nav>
