<h2 class="u-m-bottom-6 u-m-left-2">Services</h2>
<div class="c-card-container">
    <!-- #1 -->
    <div class="c-card">
        <div class="c-card__side c-card__side--front c-card__side--front-1">
            <div class="c-card__picture c-card__picture--1"></div>
            <h4 class="c-card__heading">
                <span class="c-card__heading-span">Standard</span>
                <span class="c-card__heading-subtitle">$1 999<sup><small>+tx</small></sup></span>
            </h4>
            <div class="c-card__details">
                <ul>
                    <li>5 pages</li>
                    <li>Premium Theme</li>
                    <li>1 email/contact form</li>
                    <li>100% SEO friendly</li>
                    <li>350$/add. page</li>
                    <li>3 revisions</li>
                    <li>1 week ongoing support</li>
                </ul>
            </div>
            <div class="c-button c-button--secondary">
                <a href="mailto:info@guillaumeferber.com?subject=Soumission Standard" class="c-button__body">Request a quote!</a>
            </div>
        </div>
    </div>

    <!-- #2 -->
    <div class="c-card c-card--highlighted">
        <div class="c-card__side c-card__side--front c-card__side--front-2">
            <div class="c-card__picture c-card__picture--2"></div>
            <h4 class="c-card__heading">
                <span class="c-card__heading-span c-card__heading-span--2">premium</span>
                <span class="c-card__heading-subtitle">$5 999<sup><small>+tx</small></sup></span>
            </h4>
            <div class="c-card__details">
                <ul>
                    <li>10 pages + Premium Theme</li>
                    <li>3 email/contact form</li>
                    <li>100% SEO friendly</li>
                    <li>Desktop + Mobile</li>
                    <li>400$/add. page</li>
                    <li>5 revisions</li>
                    <li>2 week ongoing support</li>
                </ul>
            </div>
            <div class="c-button c-button--primary">
                <a href="mailto:info@guillaumeferber.com?subject=Soumission Premium" class="c-button__body">Request a quote!</a>
            </div>
        </div>
    </div>

    <!-- #3 -->
    <div class="c-card">
        <div class="c-card__side c-card__side--front c-card__side--front-3">
            <div class="c-card__picture c-card__picture--3"></div>
            <h4 class="c-card__heading">
                <span class="c-card__heading-span c-card__heading-span--3">Prestige</span>
                <span class="c-card__heading-subtitle">8 999$<sup><small>+tx</small></sup></span>
            </h4>
            <div class="c-card__details">
                <ul>
                    <li>20 pages + Premium Theme</li>
                    <li>5 email/contact form</li>
                    <li>100% SEO friendly</li>
                    <li>Desktop + Mobile + Tablet</li>
                    <li>500$/add. page</li>
                    <li>illimited revisions</li>
                    <li>4 week ongoing support</li>
                </ul>
            </div>
            <div class="c-button c-button--tertiary">
                <a href="mailto:info@guillaumeferber.com?subject=Soumission Prestige" class="c-button__body">Request a quote!</a>
            </div>
        </div>
    </div>
</div>
