<section class="resume-section p-lg-5 d-flex align-items-center text-white" >
	<div class="w-100" id="technologies">
		<h2 class="mb-5 mt-5">Technologies</h2>

		<h4 class="mb-3">Programming Languages &amp; Tools</h4>
		<ul class="list-inline c-list c-list--dev-icons">
		<li class="list-inline-item" title="HTML5">
			<i class="fab fa-html5"></i>
		</li>
		<li class="list-inline-item" title="CSS3">
			<i class="fab fa-css3-alt"></i>
		</li>
		<li class="list-inline-item" title="JavaScript">
			<i class="fab fa-js-square"></i>
		</li>
		<li class="list-inline-item" title="Angular">
			<i class="fab fa-angular"></i>
		</li>
		<li class="list-inline-item" title="ReactJS">
			<i class="fab fa-react"></i>
		</li>
		<li class="list-inline-item" title="node.js">
			<i class="fab fa-node-js"></i>
		</li>
		<li class="list-inline-item" title="Sass">
			<i class="fab fa-sass"></i>
		</li>
		<li class="list-inline-item" title="LESS">
			<i class="fab fa-less"></i>
		</li>
		<li class="list-inline-item" title="Wordpress">
			<i class="fab fa-wordpress"></i>
		</li>
		<li class="list-inline-item" title="Gulp">
			<i class="fab fa-gulp"></i>
		</li>
		<li class="list-inline-item" title="Grunt">
			<i class="fab fa-grunt"></i>
		</li>
		<li class="list-inline-item" title="npm">
			<i class="fab fa-npm"></i>
		</li>
		</ul>

		<h4 class="mb-3 mt-5">Workflow</h4>
		<ul class="mb-0 c-list c-list--check">
			<li>Mobile-First, Responsive Design</li>
			<li>Cross Browser Testing &amp; Debugging</li>
			<li>Cross Functional Teams</li>
			<li>Agile Development &amp; Scrum</li>
		</ul>
	</div>
</section>
