$duration: .25s;
$type: ease-out;
.c-button {
    display: inline-block;
    max-width: 400px;
    min-width: 100%;
    margin: 0 auto;
    background: linear-gradient(90deg, $color-secondary-light, $color-secondary-dark);
    position: relative;
    z-index: 3;
    border: 0 none;
    transition: all $duration $type;
    max-height: 100%;
    &:after {
        display: inline-block;
        content: '';
        position: absolute;
        top: 0; left: 0;
        background: linear-gradient(90deg, $color-primary-dark, $color-primary-light);

        height: 100%;
        width: 0;
        transition: width $duration $type;
        z-index: 1;
    }
    &:hover {
        &:after { width: 100%; }
    }

    & + & {
        margin-left: $marginRegular / 2;
    }
    &--primary { background: $color-primary-light linear-gradient(90deg, $color-primary-light, $color-primary-dark); }
    &--secondary { background: $color-secondary-light linear-gradient(90deg, $color-secondary-light, $color-secondary-dark); }
    &--tertiary { background: $color-tertiary-light linear-gradient(90deg, $color-tertiary-light, $color-tertiary-dark); }
}

.c-button__body {
    display: block;
    position: relative;
    z-index: 2;
    color: var(--white);
    text-align: center;
    transition: color $animation-duration $type $animation-delay;
    padding: 1.6rem 2rem;
    margin: 0;
    &:hover {
        cursor: pointer;
        text-decoration: none;
        color: inherit;
    }
}

.c-button {
    border: 0 none;
    &--bordered {
        border: 0 solid transparent;
        &-left {
            border-left-width: 1px;
            border-left-color: var(--primary);
        }
    }

    &--small {
        min-width: auto;
        max-width: max-content;
    }
}

.banner {
    transform: translateY(2px) translateX(70px);
    display: block;
    height: 18px; width: 18px;
    background-image: url(../../assets/images/logos/download.svg);
    filter: invert(1);
    cursor: pointer;
    input[type=button] {
        display: none;
    }
}
