
$cardHeight: 445px;
$cardWidth: 440px;
// card
.c-card {
    display: inline-block;
    position: relative;
    margin: $marginRegular / 4;
    height: 100%;
    width: 100%;
    background-color: var(--white);
    color: var(--primary);
    .c-icon-container {
        position: absolute;
        right: 100px;
        bottom: 100px;
    }
    &:not(.c-card--gallery):not(.c-card--tall) {
        .c-card__content {
            padding: $marginRegular / 2;
        }
    }
    .c-card__content {
        height: 100%; width: 100%;
    }
    &:hover {
        text-decoration: none;
    }
}
/*
 * Card shapes
 * * square
*/
.c-card--square {
    min-height: $cardHeight;
    min-width: 200px;
    max-width: $cardWidth;
    height: $cardHeight;
    .c-card__body { font-size: 2rem; }
}

.c-card--gallery {
    a {
        pointer-events: none;
        text-decoration: none;
        color: var(--white);
    }
    .c-card__footer {
        opacity: 0;
        visibility: hidden;
        transition: all $animation-duration $animation-style $animation-delay;
    }
    
    &:hover {
        .c-card__footer {
            opacity: 1;
            visibility: visible;
        }
    }
}

/*
 * Card content to be revealed on
 * hover OR click
*/

.c-card__reveal {
    position: absolute;
    padding: 40px 40px $marginRegular;
    transition: all $animation-duration $animation-style $animation-delay;
    bottom: calc(-100% - #{$marginRegular});
    left: 0;
    z-index: -1;
    max-height: 550px;
    overflow-y: scroll;
    .c-icon {
        position: absolute;
        bottom: $marginRegular;
        right: $marginRegular;
        z-index: -1;
    }
}

/*
 * Card background colors
 * transparent
 * gradient (styles/general/_variables.scss)
 * white
 * reverse (bgc: primary)
*/
.c-card--transparent { background-color: transparent; }

.c-card--gradient {
    background: $gradient;
    & * { color: var(--primary); }
}

.c-card--white { background-color: var(--white); }

.c-card--reverse {
    background-color: var(--primary);
    transition: all .25s $animation-style $animation-delay;
    & * {
        transition: all .25s $animation-style $animation-delay;
        color: var(--white);
    }
    .c-icon {
        &:before,
        &:after {
            transition: all .25s $animation-style $animation-delay;
            background-color: var(--white);
        }
    }
    &:hover {
        cursor: pointer;
        background: $gradient;
        // overflow: auto;
        a { text-decoration: none; }
        * { color: var(--primary); }
        .c-icon {
            &:before,
            &:after {
                background-color: var(--primary);
            }
        }
        .c-card__reveal {
            z-index: 9;
            background: $gradient;
            .c-icon { z-index: 10; }
        }
        .c-icon-container .c-icon--plus { display: none; }
    }
}

.c-card--image {
    position: relative;
    height: 100%; width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &:after {
        position: absolute;
        display: block;
        height: 100%; width: 100%;
        content: '';
        top: 0; left: 0;
        z-index: 0;
        background-color: transparent;
        background-blend-mode: multiply;
        background-color: rgba(17,38,59,.7);
        transition: all .25s $animation-style $animation-delay;
        opacity: 0;
    }
    & + .c-card__front > .c-card__title,
    & + .c-card__front > .c-card__footer {
        color: var(--white);
    }
    & + .c-card__front .c-icon {
        &:before,
        &:after {
            background-color: var(--white);
        }
    }
    
}
.c-card {
    .c-icon {
        transform-origin: 15px 3px; // DO NOT TOUCH
        transform: rotate(0);
        transition: all .6s $animation-style $animation-delay;
    }
    &:hover {
        .c-icon {
            transform: rotate(180deg);
        }
    }
}

.c-card--gallery:hover .c-card--image:after {
    opacity: 1;
}

// inner style
.c-card__title {
    padding-left: 45px;
    padding-top: 65px;
    font-weight: 200;
    width: 60%;
    font-size: 1.4rem;
    color: var(--primary);
    opacity: 1;
    visibility: visible;
    .c-card--reverse & { color: var(--white); }
}

.c-card__body {
    padding: 40px 45px 0;
    font-weight: 700;
    font-size: 5rem;
}

.c-card__footer {
    $height: calc(#{$cardWidth} * .45);
    position: absolute;
    bottom: 0;
    line-height: $height;
    vertical-align: baseline;
    padding-left: $marginRegular / 2;
    padding-bottom: 45px;
    overflow: hidden;
    width: 60%;
    &-inner {
        position: relative;
        height: 100%;
    }
    .c-card__title { text-transform: uppercase; }
}

.card--reveal:hover + .c-card__front {
    cursor: pointer;
    background-color: $gradient;
}


/*
 * Tall card
 * Margin/padding removed to fit in window
 *
 */
.c-card--tall {
    margin: 0;
    min-height: 1180px;
    .c-card__front {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%; width: 100%;
    }
    .c-card__content {
        color: var(--white)
    }
    .c-card--image:after {
        opacity: .5;
    }
    .c-card__footer {
        position: static;
    }
    &:hover {
        .c-card--image:after {
            opacity: .8;
        }
    }
}
