$cardHeight: 445px;
$cardWidth: 440px;
.c-carousel {
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    margin-top: -$marginRegular;
    max-height: ($cardHeight * 2) + ($marginRegular * 2);
    max-width: ($cardWidth * 2 ) + ($marginRegular * 2);
    overflow-y: hidden;
    overflow-x: scroll;
    &.c-carousel--horizontal {
        $cardHeight: 700px;
        flex-flow: row nowrap;
        margin-top: $marginRegular;
        height: $cardHeight;
        max-width: 100%;
    }
}

.c-carousel:not(.c-carousel--horizontal) > * {
    margin: $marginRegular 0 0;
    flex: 0 0 auto;
    // all children but the first one
    &:not(:first-child) {
        margin-top: $marginRegular;
    }
    // all chgildren except the first 2 ones
    &:not(:nth-child(-n + 2)) {
        margin-left: $marginRegular;
    }
    // first child + every 5 element
    &:first-child,
    &:nth-child(4n + 1) {
        margin-top: 0;
     }
}


.c-carousel--horizontal {
    
}
