.c-header {
    padding: 35px;
    background-color: var(--primary);
}

.c-header {
    img {
        @media (max-width: 1024px) {
            transform: translate(-10px, 15px);

        }
        @media (max-width: 1023px) {
            width: 50%;
            transform: translate(-10px, 10px);
        }
        @media (max-width: 736px) and (orientation: portrait) {
            width: 100%;
            transform: translate(-10px, 15px);
        }
    }

}

@media (max-width: 1024px) {
    .c-header {
        padding: $marginRegular /2
    }

}

@media (min-width: 1025px) {
    .c-header .menu-icon {
        display: none;
    }
}
