$dimension: 1rem;
.c-icon {
	display: inline-block;
	height: $dimension; width: $dimension;
	color: var(--white);
}

.c-icon--email {
	background: url(assets/images/logos/email.svg) top left no-repeat;
	filter: invert(100%);
}
.c-icon--phone {
	background: url(assets/images/logos/phone.svg) top left no-repeat;
	filter: invert(100%);
}
.c-icon--github {
	background: url(assets/images/logos/github.svg) top left no-repeat;
	filter: invert(100%);
}

.c-icon--next {
	background: url(assets/images/logos/next.svg) top left no-repeat;
	filter: invert(100%);
}
.c-icon--design {
	$dimension: $dimension * 4;
	height: $dimension; width: $dimension;
	background: center / 100% no-repeat url(assets/images/logos/design.svg);
	filter: invert(100%);
}
.c-icon--cms {
	$dimension: $dimension * 4;
	height: $dimension; width: $dimension;
	background: center / 100% no-repeat url(assets/images/logos/cms.svg);
	filter: invert(100%);
}
.c-icon--code {
	font-size: 3rem;
}
