.social-link-list {
    padding-left: 0;
    margin-bottom: 50px;
    li {
        display: inline-block;
        & + li {
            margin-left: 2rem;;
        }
    }
    img {
        height: 20px;
    }
}


.c-list {
    &.c-list--check {
        $initial-left-position: 30px;
        $initial-width: 11px;
        $initial-height: 5px;
        list-style-type: none;
        margin: 0;
        li {
            position: relative;
            &:before,
            &:after {
                position: absolute;
                display: inline-block;
                content: '';
                height: $initial-height;
                width: $initial-width;
                background-color: var(--green);
            }
            &:before {
                top: 50%;
                left: -$initial-left-position;
                transform: rotate(45deg);
            }
            &:after {
                left: -$initial-left-position + 3px;
                top: calc(50% - 4px);
                width: $initial-width * 2;
                transform: rotate(-45deg);
            }
        }
    }
}

.c-list.c-list--dev-icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    li {
        font-size: 3rem;
        transition: all .6s ease-out 0s;
        transform: scale(1);
        &:hover {
            transform: scale(1.1);
            text-shadow:
            -0.2rem -0.2rem .7rem var(--white),
            0.2rem 0.2rem .7rem var(--white),
            0 0 1rem var(--green),
            0 0 2rem var(--green),
            0 0 3rem var(--green),
            0 0 4rem var(--green),
            0 0 5rem var(--green);
            transition: all .15s ease-in 0s;
        }
    }
}
@media (max-width: 1024px) {
    .c-list.c-list--dev-icons {
        justify-content: flex-start;
        li {
            margin-right: 1rem;
        }
    }
}
