
/* menu icon */

.menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: absolute;
    top: calc(50% - (59px/2)); right: 0;
    z-index: 5;
    user-select: none;
    transition: all $animation-duration $animation-style $animation-delay;
    &:hover {
        transform: translateY(-3px);
    }
    .navicon {
        background: #fff;
        display: block;
        height: 3px;
        position: relative;
        transition: background .2s $animation-style;
        width: 30px;
        &:before,
        &:after {
            background: #fff;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s $animation-style;
            width: 100%;
        }
        &:before { top: 8px; }
        &:after { top: -8px; }
    }
}

/* menu btn */

.menu-btn {
    display: none;
    &:checked ~ .c-navigation {
        max-height: 90vh;
        top: 0;
        opacity: 1;
        visibility: visible;
    }
    &:checked ~ .menu-icon .navicon {
        background: transparent;
    }
    &:checked ~ .menu-icon .navicon {
        &:before {
            top: 0;
            transform: rotate(-45deg);
        }
        &:after {
            top: 0;
            transform: rotate(45deg);
        }
    }
}
