.c-snackbar {
	position: fixed;
	padding: .55rem 1rem;
	margin-left:  calc(24vw / 3);
	top: 1.2rem; right: 0;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	background-color: var(--black);
	text-align: center;
	color: var(--white);
	font-size: .85rem;
	body.open & {
		margin-left: 20vw;
	}
	&.u-success {
		background-color: var(--green);
		color: var(--black);
	}
	&.u-danger {
		background-color: var(--accent);
		.c-snackbar__cta {
			display: none;
		}
	}
}

.c-snackbar__cta {
	display: inline-block;
	position: relative;
	text-indent: 2rem;
	&:before {
		position: absolute;
		display: inline-block;
		left: -1.5rem;
		color: inherit;
		text-decoration: none;
		content: '\2192';
	}
}

@media (max-width: 767px) {
	.c-snackbar {
		margin-left: 0;
		width: 260px;
		body.open & {
			margin-left: 0;
		}
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.c-snackbar {
		margin-left: 0;
		width: 260px;
		body.open & {
			margin-left: 0;
		}
	}

}
