:root {
    --primary: #12273C;
    --blue: #1dadce;
    --turquoise: #d8e8c5;
    --light: #F2F3F5;
    --white: rgb(248, 248, 248);
    --light-gray: #CBCCCD;
    --black: #151515;
    --green: #4BFFA5;
    --accent: #ce781d;
}
