// title fonts
@font-face {
    font-family: "Roboto Delta";
    src: url("https://googlefonts.github.io/fluid/assets/fonts/RobotoDelta_v2-VF.ttf") format("truetype");
    font-style: normal;
    font-weight: 200, 700;
}

@font-face {
    font-family: 'Domine Bold';
    src: url('./assets/fonts/domine-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/domine-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pigeon';
    src: url('./assets/fonts/pigeon-webfont.woff2') format('woff2'),
         url('./assets/fonts/pigeon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin default-font-settings($font-weight) {
    font-family: $default-font-family;
    font-variation-settings: "wght" $font-weight;
    will-change: font-variation-settings;
    text-rendering: optimizeSpeed;
}

@mixin serif-font-settings($font-weight) {
    font-family: $serif-font-family;
    font-variation-settings: "wght" $font-weight;
    will-change: font-variation-settings;
    text-rendering: optimizeSpeed;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
h1, .h1 { font-size: 3.4rem; }
h2, .h2 { font-size: 3rem; }
h3, .h3 { font-size: 2.3em; }
h4, .h4 { font-size: 2.4rem; }
h5, .h5 { font-size: 2.2rem; }
h6, .h6 { font-size: 1.4rem; }
h3.highlight { font-size: 12.5rem; }

h1, h2, h3, h4, h5, h6
.h1, .h2, .h3, .h4, .h5, .h6 {
    display: block;
    @include serif-font-settings(400);
    color: var(--white);
    &.paragraph {
        font-weight: 200;
        @include default-font-settings(200);
        letter-spacing: .1rem;
        line-height: 1.6;
        margin-bottom: 3.5rem;
    }
}

p, b, strong, li {
    @include default-font-settings(200);
    font-size: 1.4rem;
    letter-spacing: .1rem;
    line-height: 1.6;
}
p {
    margin-bottom: 3.5rem;
    word-break: normal;
    hyphens: auto;
}
b, strong {
    @include default-font-settings(700);
}
