html { scroll-behavior: smooth; }
$transition: all .15s ease-out 0s;
body {
    width: 100%;
    background-color: var(--black);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 200;
}
main {
    display: flex;
    flex-flow: row nowrap;
    padding-left: 0;
    transition: $transition;
    body.open & {
        transition: $transition;
        padding-left: 20vw;
    }
    aside {
        position: fixed;
        width: 20vw;
        left: -100%;
        transition: $transition;
        z-index: 1;
        height: 100vh;
        background-color: lighten(#101010, 8%);
        body.open & {
            visibility: visible;
            opacity: 1;
            left: 0;
        }
    }

    & > .content {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    main {
        body.open & {
            padding-left: 24vw;
        }
    }
    main aside {
        left: -100%;
        body.open & {
            width: 55vw;
            left: 0;
        }
    }
}
@media (max-width: 1024px) and (orientation: landscape) {
    body.open main aside {
        width: 24vw;
    }
}
@media (max-width: 768px) {
    body.open main {
        padding-left: 0;
    }
    main aside {
        left: -100%;
        width: 55vw;
        visibility: hidden;
        opacity: 0;
        transition: $transition;
    }
}
